<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FTP_HOST" value="192.168.62.173" />
    <add key="FTP_PORT" value="21" />
    <add key="FTP_USERNAME" value="SSO_UPLOAD" />
    <add key="FTP_PASSWORD" value="sso" />
    <add key="REMOTE_ROOT" value="/home" />
    <add key="SSO_ROOT" value="D:\SSOTEMP\"/>
    <add key="CONNECTION_STRING" value="DATA SOURCE=192.168.62.175:1521/orcl;PASSWORD=sso;PERSIST SECURITY INFO=True;USER ID=SSO" />
  </appSettings>
</configuration>